html {
    scroll-behavior: smooth;
}
.navbar-warapper {
    background-color: aqua;
}
.navbar-container {
    max-width: 1200px;
}
header.navbar-container {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 1rem;
    z-index: 999;
}

header.navbar-container .logo img {
    width: 250px;
}
header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
    list-style-type: none;
}

header.navbar-container .nav-list li a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    transition: all 0.2s ease-in-out;
}
header.navbar-container .nav-list li:hover a {
    background-color: #425c77;
    color: white;
    border-radius: 999px;
    transition: all.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
    background-color: #425c77;
    color: white;
}
.navbar-container {
    height: 100px; /* Tinggi navbar */
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    text-align: center;
}
